
<div style="border-bottom: 1px solid grey;">
  <form style="display: flex; flex-direction: column" >
  <mat-form-field class="input-full-width" style="width: 60%" appearance="outline">
    <mat-label>Rijksregisternummer</mat-label>
    <input matInput value="491182821991" readonly>
  </mat-form-field>

  <mat-form-field class="input-full-width" style="width: 60%;" appearance="outline">
    <mat-label style="font-size: 16px">Voornaam</mat-label>
    <input matInput value="Mathieu" readonly>
  </mat-form-field>

  <mat-form-field class="input-full-width" style="width: 60%" appearance="outline">
    <mat-label>Naam</mat-label>
    <input matInput value="Allemans" readonly>
  </mat-form-field>

  <mat-form-field class="input-full-width" style="width: 60%" appearance="outline">
    <mat-label>E-mailadres</mat-label>
    <input matInput>
  </mat-form-field>
</form>
</div>
