<div style="display: flex; flex-direction: column; align-items: stretch; height: 100%">
  <img src="assets/BannerBurger.png" id="burger-header">
  <div style="display: flex; flex-direction: row; flex: 1; ">
    <div
      style="width: 20%; display: flex; flex-direction: column; justify-content: space-between;  border-right: 1px solid lightgray">
      <img src="assets/Burgerprofiel_banner.jpg">
      <div style="display: flex; flex: 1; justify-content: start; align-items: center; flex-direction: column">
        <h1>Navigatie</h1>
        <button mat-button style="border-bottom: 1px solid lightgrey; border-top: 1px solid lightgrey; width: 100%" (click)="setPage(1)">Formulier</button>
        <button mat-button style="border-bottom: 1px solid lightgrey; width: 100%" (click)="setPage(2)">Foto</button>
      </div>
      <img style="margin-bottom: 10px" height="60" src="assets/DXC_Technology_logo_(2021).svg">
    </div>
    <div style="padding: 20px; width: 60%">
      <div style="display: flex;  border-bottom: 1px solid grey; ">
        <div>
          <h1 style="font-size: 30px">Rijbewijs online aanvragen</h1>
          <p style="font-size: 20px">Ondervindt u problemen met het formulier? <a href="www.google.com" target="_blank">Open
            de aanvraag in het loket</a></p>
        </div>
      </div>
      <app-first-page [hidden]="page !== 1"
                      (setPage)="setPage($event.page)"
      ></app-first-page>
      <app-second-page [hidden]="page !== 2"></app-second-page>
    </div>
    <div style="width: 20%"></div>
  </div>
</div>

<router-outlet></router-outlet>
