<div style="display: flex; justify-content: center; width: 100%">
  <div style="display: flex; justify-content: center; width: 60%; flex-direction: column">

    <div style="width: 90%; height: 100%; margin-top: 50px">
      <app-rijbewijs-form></app-rijbewijs-form>
    </div>
    <div style="width: 90%; height: 100%; margin-top: 50px; ">
      <textarea style="width: 600px; height: 150px"></textarea>
    </div>
    <div
      style="width: 90%; height: 100px; margin-top: 30px;  display: flex; justify-content: center; align-items: center; border: 1px dashed grey;">
      <mat-icon>attach_file</mat-icon>
      <a href="www.google.com" target="_blank">Bijlage opladen</a>
    </div>
    <div style="width: 90%; height: 100%; margin-top: 30px;  display: flex; justify-content: start; ">
      <button color="accent" mat-raised-button style="width: 150px; height: 30px" (click)="goToSecondPage()">Volgende
      </button>
    </div>
  </div>
</div>
